/*----------------------------------------------------------------
Open Project by Aaron Chuo

CIA Workshop: Open in June 2014
Follow our Facebook Group: http://taoyuan.f2e.tw;
----------------------------------------------------------------*/
html, body {
  width: 100%;
  height: 100%;
}

.brown-container {
  position: relative;
  width: 768px;
  height: 768px;
  margin: 10% auto;
}

.brown-face > div {
  position: absolute;
}

.brown-left-ear,
.brown-right-ear,
.brown-face {
  background: rgb(108, 72, 58);
}

.brown-left-ear-wrapper,
.brown-right-ear-wrapper {
  overflow: hidden;
  top: -6.9%;
  width: 22%;
  height: 14%;
  z-index: 1;
}

.brown-left-ear-wrapper {
  left: 14%;
  -webkit-transform: rotate(-24.5deg);
  -moz-transform: rotate(-24.5deg);
}

.brown-right-ear-wrapper {
  right: 14%;
  -webkit-transform: rotate(24.5deg);
  -moz-transform: rotate(24.5deg);
}

.brown-ear {
  width: 88%;
  height: 100%;
  border-top: 9px solid #000;
  border-right: 9px solid #000;
  border-left: 9px solid #000;
  border-radius: 500% 500% 0 0;
  z-index: 1;
}

.brown-ear-inner {
  height: 100%;
  margin: 15px;
  border-radius: 500% 500% 0 0;
  background: rgb(76, 46, 36);
}

.brown-left-ear {
  height: 160%;
}

.brown-right-ear {
  height: 160%;
}

.brown-face {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 88%;
  border: 9px solid #000;
  border-radius: 500%;
}

.brown-eye {
  top: 37%;
  width: 6%;
  height: 7.8%;
  border-radius: 500%;
  background: #000;
  transition: all .2s ease;
}

.brown-face:hover .brown-eye {
  border-bottom: 10px solid #000;
  background: none;
}

.brown-left-eye {
  left: 38%;
}

.brown-right-eye {
  right: 38%;
}

.brown-mouth {
  top: 43.5%;
  left: 38%;
  width: 24%;
  height: 33%;
  background: rgb(232, 217, 198);
  border-radius: 48% 47%;
}

.brown-nose {
  position: absolute;
  top: 5%;
  left: 34%;
  width: 30%;
  height: 25%;
  border-radius: 180% 70% 60%;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  background: #000;
}

.brown-vertical-line {
  position: absolute;
  top: 27%;
  left: 47%;
  width: 9%;
  height: 28%;
  border-radius: 30px;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  background: #000;
}

.brown-mouth-left-line {
  position: absolute;
  top: 47%;
  left: 37%;
  width: 9%;
  height: 34%;
  border-radius: 30px;
  -webkit-transform: rotate(34deg);
  -moz-transform: rotate(34deg);
  background: #000;
}

.brown-mouth-right-line {
  position: absolute;
  top: 46%;
  left: 55.5%;
  width: 9%;
  height: 29%;
  border-radius: 30px;
  -webkit-transform: rotate(-34deg);
  -moz-transform: rotate(-34deg);
  background: #000;
}

.sleeping {
  position: absolute;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  z-index: 5;
  color: rgba(0,0,0,0);
  transition: all .3s ease-in;
}

.sleeping-a {
  top: 5%;
  right: 5%;
  font: 5em bold;
}

.sleeping-b {
  top: -3%;
  right: -3%;
  font: 7em bold;
  transition-delay: .15s;
}

.sleeping-c {
  top: -13%;
  right: -11%;
  font: 9em bold;
  transition-delay: .3s;
}

.sleep-bubble {
  top: 28%;
  left: 4%;
  width: 40%;
  height: 28%;
  border-radius: 120% 5% 120% 70%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  z-index: 99;
  opacity: 0;
  background: #3366CC;
  transition: all .3s linear;
}

.sleep-bubble:after {
  position: absolute;
  top: 24%;
  left: -1%;
  width: 50%;
  height: 14%;
  border-radius: 50% / 70% 70% 30% 30%;
  -webkit-transform: rotate(-37deg);
  -moz-transform: rotate(-37deg);
  z-index: 101;
  background: rgba(255,255,255,.3);
  content: '';
}

.brown-face:hover {
  cursor: pointer;
}

.brown-face:hover ~ .sleeping {
  color: rgba(0,0,0,1);
}

.brown-face:hover .sleep-bubble {
  opacity: .9;
}