@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Dosis:600);
/* line 33, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 40, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 48, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 55, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
[hidden] {
  display: none;
}

/* line 69, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 82, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 88, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
body {
  margin: 0;
}

/* line 103, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 109, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 122, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 127, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 132, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 137, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 142, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 147, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/* line 153, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 159, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 163, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 168, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 174, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 181, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 188, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/* line 196, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 203, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 210, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
q {
  quotes: none;
}

/* line 216, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 222, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
small {
  font-size: 80%;
}

/* line 228, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 235, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 239, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 253, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 257, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 264, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 270, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 283, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 289, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 300, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 0;
}

/* line 311, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
form {
  margin: 0;
}

/* line 316, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 325, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 339, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 349, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 358, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 372, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 380, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 389, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 399, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 409, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 415, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 422, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 434, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Jeet.gs */
/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/* Sprites */
/*
 * Retina Sprites for Compass
 * by:              Gaya Kessler
 * last update:     03/11/14
 *
 * Usage:
 * 1. create two folders in your image directory (in this case 'workshop' and 'workshop-2x').
 * 2. adjust the foldernames defined below if you use different names.
 * 3. create sprite images for pixel ratio 1 screens and put them in the first folder.
 * 4. create sprite images for pixel ratio 2 screens and put them in the second folder, use the same filenames.
 * 5. use the sprite-image in your Sass/Scss using: '@include use-sprite(<sprite-name>)'
 */
/* line 7, ../sass/partials/_page.scss */
body, select, input, textarea {
  color: #222222;
}

/* line 7, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
/* line 27, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 9, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 11, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 67, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 13, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 93, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 98, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.clearfix:after {
  clear: both;
}
/* line 104, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.clearfix {
  *zoom: 1;
}

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
@media print {
  /* line 11, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 19, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 23, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 27, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 37, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 42, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 47, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 52, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 56, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 66, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 72, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* Style adjustments for print go here */
}
/* font for price_tag */
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* line 43, ../sass/style.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

/* line 49, ../sass/style.scss */
.clearfix:after {
  clear: both;
}

/* line 53, ../sass/style.scss */
html {
  font-size: 62.5%;
}

/* line 57, ../sass/style.scss */
html, body {
  height: 100%;
}

/* line 61, ../sass/style.scss */
body {
  font-size: 1.2rem;
  font-family: Arial, 'Apple Lihei Pro', '微軟正黑體';
  color: white;
  background: #333;
}

/* line 68, ../sass/style.scss */
h2 {
  width: 60%;
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-align: center;
  margin: 0.5em auto 0;
  font-size: 2rem;
}

/* line 77, ../sass/style.scss */
ul, ol {
  margin: 0;
  padding: 0;
}

/* line 82, ../sass/style.scss */
a {
  color: #DDD;
  text-decoration: none;
  transition: all ease .3s;
}
/* line 86, ../sass/style.scss */
a:hover {
  color: #FFF;
}

/* line 91, ../sass/style.scss */
p {
  padding: 0 5%;
  font-size: 1.8rem;
  text-align: justify;
}

/* 主要版面切割 - 桌機版 */
@media only screen and (min-width: 768px) {
  /* line 101, ../sass/style.scss */
  #container {
    width: 100%;
    height: 100%;
  }

  /* line 106, ../sass/style.scss */
  .navi {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    background: rgba(36, 36, 36, 0.8);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 1.8rem;
    z-index: 2;
  }
  /* line 115, ../sass/style.scss */
  .navi h3 {
    font-size: 2em;
  }
  /* line 118, ../sass/style.scss */
  .navi ul {
    width: 60%;
    margin: 0 auto;
  }
  /* line 121, ../sass/style.scss */
  .navi ul li {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 25%;
    margin-left: 0%;
    margin-right: 0%;
    display: inline-block;
    text-align: center;
    transition: all ease .3s;
  }
  /* line 188, ../sass/jeet/_grid.scss */
  .navi ul li:before, .navi ul li:after {
    content: '';
    display: table;
  }
  /* line 192, ../sass/jeet/_grid.scss */
  .navi ul li:after {
    clear: both;
  }
  /* line 126, ../sass/style.scss */
  .navi ul li a {
    display: block;
    height: 100%;
    padding: 20px 0;
  }
  /* line 130, ../sass/style.scss */
  .navi ul li a:hover {
    color: #333;
  }
  /* line 136, ../sass/style.scss */
  .navi ul li:hover {
    background: white;
  }

  /* line 144, ../sass/style.scss */
  .main {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    height: 100%;
    padding-top: 30px;
    background: url(../assets/cover-bg.png) top center no-repeat;
    background-size: auto 100%;
  }
  /* line 188, ../sass/jeet/_grid.scss */
  .main:before, .main:after {
    content: '';
    display: table;
  }
  /* line 192, ../sass/jeet/_grid.scss */
  .main:after {
    clear: both;
  }
  /* line 150, ../sass/style.scss */
  .main .continue-read {
    display: block;
    position: relative;
    top: 75%;
    width: 200px;
    height: 80px;
    margin: 0 auto;
    background: rgba(36, 36, 36, 0.8);
    text-align: center;
    font-size: 2.2rem;
    line-height: 80px;
  }
  /* line 162, ../sass/style.scss */
  .main .continue-read:after {
    content: '';
    display: block;
    width: 0;
    border-top: 50px solid rgba(36, 36, 36, 0.8);
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
  }

  /* line 172, ../sass/style.scss */
  .time_scale {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    background: white;
    width: 100%;
    overflow: hidden;
  }
  /* line 188, ../sass/jeet/_grid.scss */
  .time_scale:before, .time_scale:after {
    content: '';
    display: table;
  }
  /* line 192, ../sass/jeet/_grid.scss */
  .time_scale:after {
    clear: both;
  }
  /* line 177, ../sass/style.scss */
  .time_scale span {
    background-image: url('../assets/workshop-se13652b4d2.png');
    background-position: 0 -100px;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 88px;
    width: 1088px;
    display: block;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: 1em auto;
  }
  /* line 186, ../sass/style.scss */
  .time_scale h3 {
    color: #333;
    width: 100%;
    margin-top: 1em;
    font-size: 2rem;
    text-align: center;
  }

  /* line 195, ../sass/style.scss */
  .ac_explain {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin: 0 auto;
    background: #bd1550;
  }
  /* line 188, ../sass/jeet/_grid.scss */
  .ac_explain:before, .ac_explain:after {
    content: '';
    display: table;
  }
  /* line 192, ../sass/jeet/_grid.scss */
  .ac_explain:after {
    clear: both;
  }
  /* line 199, ../sass/style.scss */
  .ac_explain > * {
    max-width: 700px;
  }
  /* line 202, ../sass/style.scss */
  .ac_explain p {
    width: 60%;
    margin: 20px auto;
  }
  /* line 206, ../sass/style.scss */
  .ac_explain ul {
    width: 60%;
    margin: 20px auto;
    padding-left: 40px;
  }
  /* line 210, ../sass/style.scss */
  .ac_explain ul li {
    padding: 10px;
    font-size: 1.8rem;
    list-style: square;
  }

  /* line 220, ../sass/style.scss */
  .required {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    background: #bd1550;
    padding-top: 2em;
  }
  /* line 188, ../sass/jeet/_grid.scss */
  .required:before, .required:after {
    content: '';
    display: table;
  }
  /* line 192, ../sass/jeet/_grid.scss */
  .required:after {
    clear: both;
  }
  /* line 224, ../sass/style.scss */
  .required > * {
    max-width: 1200px;
  }
  /* line 227, ../sass/style.scss */
  .required ul {
    width: 100%;
    margin: auto;
    padding: 0;
    text-align: center;
  }
  /* line 233, ../sass/style.scss */
  .required li {
    position: relative;
    display: inline-block;
    overflow: none;
    width: 31%;
    height: 280px;
  }
  /* line 240, ../sass/style.scss */
  .required h3 {
    top: 140px;
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 1.6rem;
  }
  /* line 247, ../sass/style.scss */
  .required p {
    top: 180px;
    width: 80%;
    margin: 0 10%;
    padding: 0;
    font-size: 1.2rem;
    text-align: center;
  }
  /* line 255, ../sass/style.scss */
  .required p, .required h3 {
    position: absolute;
  }
  /* line 258, ../sass/style.scss */
  .required .icon {
    margin: 0 auto;
  }
  /* line 261, ../sass/style.scss */
  .required li:first-child .icon {
    background-image: url('../assets/workshop-se13652b4d2.png');
    background-position: 0 -816px;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 200px;
    width: 135px;
  }
  /* line 264, ../sass/style.scss */
  .required li:last-child .icon {
    background-image: url('../assets/workshop-se13652b4d2.png');
    background-position: 0 -336px;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 200px;
    width: 135px;
  }
  /* line 269, ../sass/style.scss */
  .resource {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    background: #bd1550;
  }
  /* line 188, ../sass/jeet/_grid.scss */
  .resource:before, .resource:after {
    content: '';
    display: table;
  }
  /* line 192, ../sass/jeet/_grid.scss */
  .resource:after {
    clear: both;
  }
  /* line 272, ../sass/style.scss */
  .resource > * {
    max-width: 1200px;
  }
  /* line 275, ../sass/style.scss */
  .resource ul {
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  /* line 280, ../sass/style.scss */
  .resource li {
    position: relative;
    display: inline-block;
    overflow: none;
    width: 20%;
    height: 180px;
  }
  /* line 287, ../sass/style.scss */
  .resource h3 {
    position: absolute;
    top: 100px;
    width: 100%;
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
  }
  /* line 295, ../sass/style.scss */
  .resource .icon {
    margin: 0 auto;
  }
  /* line 298, ../sass/style.scss */
  .resource li:first-child .icon {
    background-image: url('../assets/workshop-se13652b4d2.png');
    background-position: 0 -536px;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 140px;
    width: 64px;
  }
  /* line 301, ../sass/style.scss */
  .resource li:nth-child(2) .icon {
    background-image: url('../assets/workshop-se13652b4d2.png');
    background-position: 0 -1016px;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 140px;
    width: 64px;
  }
  /* line 304, ../sass/style.scss */
  .resource li:last-child .icon {
    background-image: url('../assets/workshop-se13652b4d2.png');
    background-position: 0 -676px;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 140px;
    width: 64px;
  }
  /* line 309, ../sass/style.scss */
  .ticket-list {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    background: #333;
  }
  /* line 188, ../sass/jeet/_grid.scss */
  .ticket-list:before, .ticket-list:after {
    content: '';
    display: table;
  }
  /* line 192, ../sass/jeet/_grid.scss */
  .ticket-list:after {
    clear: both;
  }
  /* line 312, ../sass/style.scss */
  .ticket-list > div {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 33.3333%;
    margin-left: 0%;
    margin-right: 0%;
    display: inline-block;
    margin-top: 10px;
  }
  /* line 188, ../sass/jeet/_grid.scss */
  .ticket-list > div:before, .ticket-list > div:after {
    content: '';
    display: table;
  }
  /* line 192, ../sass/jeet/_grid.scss */
  .ticket-list > div:after {
    clear: both;
  }
  /* line 317, ../sass/style.scss */
  .ticket-list h2 {
    margin: 20px auto;
  }

  /* line 322, ../sass/style.scss */
  .for_student > a, .for_earlybird > a, .for_almost > a {
    margin: 1% auto 1em;
    box-sizing: border-box;
    width: 95%;
    height: 100px;
    padding-top: 1px;
    text-align: center;
  }

  /* line 331, ../sass/style.scss */
  footer {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin: 0;
    padding-top: 30px;
    background: #333;
    color: #CCC;
  }
  /* line 188, ../sass/jeet/_grid.scss */
  footer:before, footer:after {
    content: '';
    display: table;
  }
  /* line 192, ../sass/jeet/_grid.scss */
  footer:after {
    clear: both;
  }
  /* line 337, ../sass/style.scss */
  footer > * {
    min-width: 400px;
    max-width: 800px;
  }
  /* line 341, ../sass/style.scss */
  footer a {
    display: block;
    opacity: .8;
    filter: alpha(opacity=80);
    transition: all ease .3s;
  }
  /* line 346, ../sass/style.scss */
  footer a:hover {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  /* line 351, ../sass/style.scss */
  footer .about-curator {
    margin: 0 auto;
    text-align: center;
  }
  /* line 354, ../sass/style.scss */
  footer .about-curator h3 {
    position: absolute;
    display: block;
    margin: 0;
    padding-left: 20px;
    height: 100px;
    line-height: 100px;
    font-size: 1.6rem;
  }
  /* line 363, ../sass/style.scss */
  footer .about-curator ul {
    display: inline;
    list-style: none;
  }
  /* line 367, ../sass/style.scss */
  footer .about-curator li {
    display: inline-block;
    padding: 0 0 0 50px;
  }
  /* line 371, ../sass/style.scss */
  footer .about-curator .f2e_ty_logo {
    background-image: url('../assets/workshop-se13652b4d2.png');
    background-position: 0 -188px;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100px;
    width: 144px;
  }
  /* line 375, ../sass/style.scss */
  footer .about-curator .cycu_logo {
    background-image: url('../assets/workshop-se13652b4d2.png');
    background-position: 0 -288px;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 48px;
    width: 200px;
    margin-bottom: 25px;
  }
  /* line 380, ../sass/style.scss */
  footer .about-photo {
    margin: 30px auto;
    text-align: center;
  }
  /* line 383, ../sass/style.scss */
  footer .about-photo h3 {
    position: absolute;
    display: block;
    margin: 0;
    padding-left: 20px;
    height: 100px;
    line-height: 100px;
    font-size: 1.6rem;
  }
  /* line 392, ../sass/style.scss */
  footer .about-photo p {
    margin: 0;
    margin-left: 360px;
  }
  /* line 396, ../sass/style.scss */
  footer .about-photo a {
    display: inline;
  }
  /* line 399, ../sass/style.scss */
  footer .about-photo .food_mob {
    background-image: url('../assets/workshop-se13652b4d2.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100px;
    width: 150px;
    float: left;
    text-indent: -9999px;
    margin-left: 225px;
  }
  /* line 406, ../sass/style.scss */
  footer .copyright {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    max-width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    background: #222;
    color: #ccc;
    text-align: center;
  }
  /* line 188, ../sass/jeet/_grid.scss */
  footer .copyright:before, footer .copyright:after {
    content: '';
    display: table;
  }
  /* line 192, ../sass/jeet/_grid.scss */
  footer .copyright:after {
    clear: both;
  }
  /* line 414, ../sass/style.scss */
  footer .copyright p {
    font-size: 1.4rem;
    letter-spacing: 1px;
    text-align: center;
  }
  /* line 419, ../sass/style.scss */
  footer .copyright a {
    display: inline;
  }
  /* line 422, ../sass/style.scss */
  footer .copyright small {
    display: block;
    width: 50%;
    min-width: 600px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
  }

  /* 元件 */
  /* line 435, ../sass/style.scss */
  hr {
    margin-top: 1em;
    border: 1px solid #fff;
  }

  /* line 440, ../sass/style.scss */
  .site_name {
    position: absolute;
    margin-top: 1em;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 2rem;
  }

  /* line 451, ../sass/style.scss */
  .for_student a {
    display: block;
    background: rgba(29, 133, 66, 0.8);
  }
  /* line 454, ../sass/style.scss */
  .for_student a:hover {
    background: #1d8542;
    color: white;
  }

  /* line 463, ../sass/style.scss */
  .for_earlybird a {
    display: block;
    background: rgba(236, 128, 10, 0.8);
  }
  /* line 466, ../sass/style.scss */
  .for_earlybird a:hover {
    background: #ec800a;
    color: white;
  }

  /* line 475, ../sass/style.scss */
  .for_almost a {
    /*	background: rgba(248, 202, 0, 0.7); */
    display: block;
    background: rgba(106, 50, 177, 0.8);
  }
  /* line 479, ../sass/style.scss */
  .for_almost a:hover {
    background: #6a32b1;
    color: white;
  }

  /* line 488, ../sass/style.scss */
  .price_tag {
    font: 600 1.5em/1.8rem 'Dosis', sans-serif;
  }

  /* line 492, ../sass/style.scss */
  .time_tag {
    color: white;
  }

  /* line 496, ../sass/style.scss */
  .sale_later {
    margin-right: 1em;
  }

  /* line 500, ../sass/style.scss */
  .fb_button {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 3em;
    padding: 0;
    font-size: 1.4rem;
    color: #141414;
    text-align: center;
    background: #fff;
    border: 0;
    border-bottom: 2px solid #eee;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #ddd;
    box-shadow: inset 0 -2px #ddd;
  }

  /* line 517, ../sass/style.scss */
  .fb_button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /* line 524, ../sass/style.scss */
  .fb_success {
    width: 100%;
    font-size: 1.6rem;
  }

  /* 特效 */
  /* line 533, ../sass/style.scss */
  .add_opacity {
    color: rgba 255, 255, 255, 0.6;
  }
}
@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 768px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 144dppx) {
  /* line 177, ../sass/style.scss */
  .time_scale span {
    background-image: url('../assets/workshop-2x-sbe953eec0d.png');
    background-size: 1088px 1156px;
    background-position: 0 -100px;
    height: 88px;
    width: 1088px;
  }
}
@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 768px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 144dppx) {
  /* line 261, ../sass/style.scss */
  .required li:first-child .icon {
    background-image: url('../assets/workshop-2x-sbe953eec0d.png');
    background-size: 1088px 1156px;
    background-position: 0 -816px;
    height: 200px;
    width: 135px;
  }
}
@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 768px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 144dppx) {
  /* line 264, ../sass/style.scss */
  .required li:last-child .icon {
    background-image: url('../assets/workshop-2x-sbe953eec0d.png');
    background-size: 1088px 1156px;
    background-position: 0 -336px;
    height: 200px;
    width: 135px;
  }
}

@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 768px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 144dppx) {
  /* line 298, ../sass/style.scss */
  .resource li:first-child .icon {
    background-image: url('../assets/workshop-2x-sbe953eec0d.png');
    background-size: 1088px 1156px;
    background-position: 0 -536px;
    height: 140px;
    width: 61px;
  }
}
@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 768px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 144dppx) {
  /* line 301, ../sass/style.scss */
  .resource li:nth-child(2) .icon {
    background-image: url('../assets/workshop-2x-sbe953eec0d.png');
    background-size: 1088px 1156px;
    background-position: 0 -1016px;
    height: 140px;
    width: 64px;
  }
}
@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 768px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 144dppx) {
  /* line 304, ../sass/style.scss */
  .resource li:last-child .icon {
    background-image: url('../assets/workshop-2x-sbe953eec0d.png');
    background-size: 1088px 1156px;
    background-position: 0 -676px;
    height: 140px;
    width: 64px;
  }
}

@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 768px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 144dppx) {
  /* line 371, ../sass/style.scss */
  footer .about-curator .f2e_ty_logo {
    background-image: url('../assets/workshop-2x-sbe953eec0d.png');
    background-size: 1088px 1156px;
    background-position: 0 -188px;
    height: 100px;
    width: 144px;
  }
}
@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 768px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 144dppx) {
  /* line 375, ../sass/style.scss */
  footer .about-curator .cycu_logo {
    background-image: url('../assets/workshop-2x-sbe953eec0d.png');
    background-size: 1088px 1156px;
    background-position: 0 -288px;
    height: 48px;
    width: 200px;
  }
}
@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 768px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 144dppx) {
  /* line 399, ../sass/style.scss */
  footer .about-photo .food_mob {
    background-image: url('../assets/workshop-2x-sbe953eec0d.png');
    background-size: 1088px 1156px;
    background-position: 0 0;
    height: 100px;
    width: 150px;
  }
}
/* Adaptive Modal Content */
/* Modal Style */
/* line 4, ../sass/_adaptive_modal_content.scss */
.am-modal-content {
  box-sizing: border-box;
  padding: 2em;
  font-size: 1.2rem;
}
/* line 10, ../sass/_adaptive_modal_content.scss */
.am-modal-content div:first-child {
  font-size: 1.6rem;
  margin: -0.75em 0 0;
}
/* line 15, ../sass/_adaptive_modal_content.scss */
.am-modal-content ul {
  padding: 0;
}
/* line 19, ../sass/_adaptive_modal_content.scss */
.am-modal-content li {
  display: inline-block;
  float: left;
}
/* line 24, ../sass/_adaptive_modal_content.scss */
.am-modal-content ul li:nth-child(3) {
  margin: 0 1em;
}
/* line 29, ../sass/_adaptive_modal_content.scss */
.am-modal-content div:nth-child(2) {
  margin-top: 1em;
}

/* 切換選擇器 */
/* line 41, ../sass/_adaptive_modal_content.scss */
.toggle-bg {
  background: rgba(255, 255, 255, 0.5);
  /* You'll want to see the area being toggled, but feel free to change the color */
  display: block;
  /* ...So that we can set a height and width */
  float: left;
  /* ...So that it doesn't take up the full width of the page */
  height: 1em;
  /* You can change this later if you want */
  position: relative;
  /* Required to allow the switch to move around */
  width: 26px;
  /* This can be changed later as well */
}

/* line 50, ../sass/_adaptive_modal_content.scss */
.toggle-bg input {
  height: 2em;
  left: 0;
  margin: 0;
  /* Reset the margins and padding */
  opacity: 0;
  /* Invisible! */
  padding: 0;
  position: absolute;
  top: -10px;
  /* -10px Shift vertically */
  width: 36px;
  z-index: 2;
  /* We want the input to be over the span.switch, which we'll give a z-index of 1 */
  /*IE*/
  zoom: 1;
  filter: alpha(opacity=0);
}

/* line 65, ../sass/_adaptive_modal_content.scss */
.switch {
  background: #fff;
  display: block;
  float: left;
  height: 1em;
  left: 0;
  /*  -1px This is the starting point. When adding a border radius, a small bit of the background is shown if we use left: 0;, so -1px is best.*/
  position: relative;
  top: 0;
  /* -4px ...To keep it centered vertically */
  width: 13px;
  z-index: 1;
  /* Remember, it must be below the invisible inputs */
}

/* line 77, ../sass/_adaptive_modal_content.scss */
.toggle-bg input:checked ~ .switch {
  left: 0;
}

/* -1px initial toggle position */
/* line 79, ../sass/_adaptive_modal_content.scss */
.toggle-bg input ~ :checked ~ .switch {
  left: 1em;
}

/* final relative toggle position */
/* line 81, ../sass/_adaptive_modal_content.scss */
.toggle-bg input:checked {
  z-index: 0;
}

/* 下拉選單 */
/* line 545, ../sass/style.scss */
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

/* line 550, ../sass/style.scss */
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #555555;
  width: 220px;
  height: 40px;
}

/* line 559, ../sass/style.scss */
.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  padding: 8px 15px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 568, ../sass/style.scss */
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #555555 transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}
/* line 578, ../sass/style.scss */
.select-styled:hover {
  background-color: #fafafa;
}
/* line 581, ../sass/style.scss */
.select-styled:active, .select-styled.active {
  background-color: #f2f2f2;
}
/* line 583, ../sass/style.scss */
.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #555555 transparent;
}

/* line 590, ../sass/style.scss */
.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
}
/* line 601, ../sass/style.scss */
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid #e6e6e6;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
/* line 607, ../sass/style.scss */
.select-options li:hover {
  color: white;
  background: #555555;
}
/* line 611, ../sass/style.scss */
.select-options li[rel="hide"] {
  display: none;
}
