@import url(http://fonts.googleapis.com/css?family=Dosis:600);
/* line 33, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 40, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 48, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 55, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
[hidden] {
  display: none;
}

/* line 69, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 82, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 88, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
body {
  margin: 0;
}

/* line 103, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 109, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 122, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 127, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 132, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 137, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 142, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 147, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/* line 153, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 159, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 163, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 168, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 174, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 181, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 188, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/* line 196, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 203, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 210, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
q {
  quotes: none;
}

/* line 216, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 222, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
small {
  font-size: 80%;
}

/* line 228, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 235, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 239, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 253, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 257, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 264, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 270, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 283, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 289, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 300, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 0;
}

/* line 311, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
form {
  margin: 0;
}

/* line 316, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 325, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 339, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 349, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 358, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 372, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 380, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 389, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 399, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 409, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 415, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 422, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 434, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Jeet.gs */
/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/* Sprites */
/*
 * Retina Sprites for Compass
 * by:              Gaya Kessler
 * last update:     03/11/14
 *
 * Usage:
 * 1. create two folders in your image directory (in this case 'workshop' and 'workshop-2x').
 * 2. adjust the foldernames defined below if you use different names.
 * 3. create sprite images for pixel ratio 1 screens and put them in the first folder.
 * 4. create sprite images for pixel ratio 2 screens and put them in the second folder, use the same filenames.
 * 5. use the sprite-image in your Sass/Scss using: '@include use-sprite(<sprite-name>)'
 */
/* line 7, ../sass/partials/_page.scss */
body, select, input, textarea {
  color: #222222;
}

/* line 7, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
/* line 27, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 9, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 11, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 67, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 13, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 93, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 98, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.clearfix:after {
  clear: both;
}
/* line 104, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.clearfix {
  *zoom: 1;
}

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
@media print {
  /* line 11, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 19, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 23, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 27, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 37, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 42, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 47, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 52, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 56, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 66, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 72, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* Style adjustments for print go here */
}
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* line 37, ../sass/style.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

/* line 38, ../sass/style.scss */
.clearfix:after {
  clear: both;
}

/* line 41, ../sass/style.scss */
html, body {
  height: 100%;
}

/* line 47, ../sass/style.scss */
body {
  font-size: 67.5%;
  font-family: Arial, 'Apple Lihei Pro', '微軟正黑體';
  color: white;
  background: #bd1550;
}

/* 排版 */
/* line 59, ../sass/style.scss */
h2 {
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-align: center;
  margin: 0.5em auto 0;
}

/* line 68, ../sass/style.scss */
a {
  color: white;
  text-decoration: none;
}

/* 主要版面切割 */
/* line 76, ../sass/style.scss */
.layout {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 33.333%;
  margin-left: 0%;
  margin-right: 0%;
  min-width: 213.33333px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
/* line 188, ../sass/jeet/_grid.scss */
.layout:before, .layout:after {
  content: '';
  display: table;
}
/* line 192, ../sass/jeet/_grid.scss */
.layout:after {
  clear: both;
}

/* line 85, ../sass/style.scss */
.for_student > a, .for_earlybird > a, .for_almost > a {
  margin: 156% auto 1em;
  box-sizing: border-box;
  width: 95%;
  height: 6em;
  padding-top: 1px;
  text-align: center;
}

/* line 95, ../sass/style.scss */
.ac_explain {
  *zoom: 1;
  width: auto;
  max-width: 60%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  background: #bd1550;
}
/* line 188, ../sass/jeet/_grid.scss */
.ac_explain:before, .ac_explain:after {
  content: '';
  display: table;
}
/* line 192, ../sass/jeet/_grid.scss */
.ac_explain:after {
  clear: both;
}
/* line 98, ../sass/style.scss */
.ac_explain li {
  font-size: 1.2rem;
  list-style: square;
}

/* line 106, ../sass/style.scss */
.time_scale {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  background: white;
}
/* line 188, ../sass/jeet/_grid.scss */
.time_scale:before, .time_scale:after {
  content: '';
  display: table;
}
/* line 192, ../sass/jeet/_grid.scss */
.time_scale:after {
  clear: both;
}
/* line 111, ../sass/style.scss */
.time_scale span {
  background-image: url('../assets/workshop-s29571cafdd.png');
  background-position: 0 -914px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 88px;
  width: 1088px;
  display: block;
  max-width: 100%;
  margin: 1em auto;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 111, ../sass/style.scss */
  .time_scale span {
    background-image: url('../assets/workshop-2x-s8821586b9e.png');
    background-size: 1088px 1142px;
    background-position: 0 -914px;
    height: 88px;
    width: 1088px;
  }
}
/* line 119, ../sass/style.scss */
.time_scale h3 {
  color: #333;
  width: 100%;
  margin-top: 1em;
  text-align: center;
}

/* line 127, ../sass/style.scss */
footer {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  background: #333;
}
/* line 188, ../sass/jeet/_grid.scss */
footer:before, footer:after {
  content: '';
  display: table;
}
/* line 192, ../sass/jeet/_grid.scss */
footer:after {
  clear: both;
}
/* line 132, ../sass/style.scss */
footer p, footer h3 {
  *zoom: 1;
  width: auto;
  max-width: 70%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
/* line 188, ../sass/jeet/_grid.scss */
footer p:before, footer p:after, footer h3:before, footer h3:after {
  content: '';
  display: table;
}
/* line 192, ../sass/jeet/_grid.scss */
footer p:after, footer h3:after {
  clear: both;
}
/* line 138, ../sass/style.scss */
footer p:nth-child(2), footer h3 {
  margin-top: 4em;
}

/* 元件 */
/* line 148, ../sass/style.scss */
.site_name {
  position: absolute;
  margin-top: 1em;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 2em;
}

/* line 157, ../sass/style.scss */
.for_student {
  background-image: url("../assets/slice-01.jpg");
}
/* line 159, ../sass/style.scss */
.for_student a {
  display: block;
  background: rgba(73, 10, 61, 0.7);
}
/* line 163, ../sass/style.scss */
.for_student a:hover {
  background: #490a3d;
  color: white;
}

/* line 172, ../sass/style.scss */
.for_earlybird {
  background-image: url("../assets/slice-02.jpg");
}
/* line 174, ../sass/style.scss */
.for_earlybird a {
  display: block;
  background: rgba(233, 127, 2, 0.7);
}
/* line 178, ../sass/style.scss */
.for_earlybird a:hover {
  background: #e97f02;
  color: white;
}

/* line 186, ../sass/style.scss */
.for_almost {
  background-image: url("../assets/slice-03.jpg");
}
/* line 188, ../sass/style.scss */
.for_almost a {
  /*	background: rgba(248, 202, 0, 0.7); */
  display: block;
  background: rgba(70, 70, 70, 0.7);
  color: #777;
}

/* line 198, ../sass/style.scss */
.price_tag {
  font: 600 1.5em/1.8rem 'Dosis';
}

/* line 202, ../sass/style.scss */
.time_tag {
  color: white;
}

/* line 206, ../sass/style.scss */
.sale_later {
  margin-right: 1em;
}

/* line 213, ../sass/style.scss */
.required ul {
  text-align: center;
}
/* line 218, ../sass/style.scss */
.required li {
  display: inline-block;
  margin: 0 1.5em;
}
/* line 223, ../sass/style.scss */
.required h3 {
  margin-top: 10.5em;
}
/* line 227, ../sass/style.scss */
.required li:first-child {
  background-image: url('../assets/workshop-s29571cafdd.png');
  background-position: 0 -234px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 200px;
  width: 150px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 227, ../sass/style.scss */
  .required li:first-child {
    background-image: url('../assets/workshop-2x-s8821586b9e.png');
    background-size: 1088px 1142px;
    background-position: 0 -234px;
    height: 200px;
    width: 150px;
  }
}
/* line 230, ../sass/style.scss */
.required li:last-child {
  background-image: url('../assets/workshop-s29571cafdd.png');
  background-position: 0 -574px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 200px;
  width: 150px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 230, ../sass/style.scss */
  .required li:last-child {
    background-image: url('../assets/workshop-2x-s8821586b9e.png');
    background-size: 1088px 1142px;
    background-position: 0 -574px;
    height: 200px;
    width: 150px;
  }
}

/* line 238, ../sass/style.scss */
.resource ul {
  text-align: center;
}
/* line 243, ../sass/style.scss */
.resource li {
  display: inline-block;
  margin: 0 1em;
}
/* line 248, ../sass/style.scss */
.resource h3 {
  margin-top: 7.5em;
}
/* line 253, ../sass/style.scss */
.resource li:first-child {
  background-image: url('../assets/workshop-s29571cafdd.png');
  background-position: 0 -1002px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 140px;
  width: 100px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 253, ../sass/style.scss */
  .resource li:first-child {
    background-image: url('../assets/workshop-2x-s8821586b9e.png');
    background-size: 1088px 1142px;
    background-position: 0 -1002px;
    height: 140px;
    width: 100px;
  }
}
/* line 257, ../sass/style.scss */
.resource li:nth-child(2) {
  background-image: url('../assets/workshop-s29571cafdd.png');
  background-position: 0 -434px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 140px;
  width: 100px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 257, ../sass/style.scss */
  .resource li:nth-child(2) {
    background-image: url('../assets/workshop-2x-s8821586b9e.png');
    background-size: 1088px 1142px;
    background-position: 0 -434px;
    height: 140px;
    width: 100px;
  }
}
/* line 261, ../sass/style.scss */
.resource li:last-child {
  background-image: url('../assets/workshop-s29571cafdd.png');
  background-position: 0 -774px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 140px;
  width: 100px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 261, ../sass/style.scss */
  .resource li:last-child {
    background-image: url('../assets/workshop-2x-s8821586b9e.png');
    background-size: 1088px 1142px;
    background-position: 0 -774px;
    height: 140px;
    width: 100px;
  }
}

/* line 267, ../sass/style.scss */
.food_mob {
  background-image: url('../assets/workshop-s29571cafdd.png');
  background-position: 0 -134px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100px;
  width: 150px;
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 267, ../sass/style.scss */
  .food_mob {
    background-image: url('../assets/workshop-2x-s8821586b9e.png');
    background-size: 1088px 1142px;
    background-position: 0 -134px;
    height: 100px;
    width: 150px;
  }
}

/* line 278, ../sass/style.scss */
.f2e_ty_logo {
  background-image: url('../assets/workshop-s29571cafdd.png');
  background-position: 0 -34px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100px;
  width: 144px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 278, ../sass/style.scss */
  .f2e_ty_logo {
    background-image: url('../assets/workshop-2x-s8821586b9e.png');
    background-size: 1088px 1142px;
    background-position: 0 -34px;
    height: 100px;
    width: 144px;
  }
}

/* line 282, ../sass/style.scss */
.cycu_logo {
  background-image: url('../assets/workshop-s29571cafdd.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 34px;
  width: 144px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 282, ../sass/style.scss */
  .cycu_logo {
    background-image: url('../assets/workshop-2x-s8821586b9e.png');
    background-size: 1088px 1142px;
    background-position: 0 0;
    height: 34px;
    width: 144px;
  }
}

/* Adaptive Modal Content */
/* Modal Style */
/* line 3, ../sass/_adaptive_modal_content.scss */
.am-modal-content {
  box-sizing: border-box;
  padding: 1em;
}

/* line 9, ../sass/_adaptive_modal_content.scss */
.am-modal-content h1 {
  font-size: 64px;
  margin-top: 0;
  font-family: 'Grand Hotel', cursive;
  color: white;
}
