$cherryColor: rgb(189, 21, 80);
$cherryColorAlpha: rgba(189, 21, 80, .8);
$coalColor: rgb(36, 36, 36);
$coalColorAlpha: rgba(36, 36, 36, .8);
$leafColor: rgb(29, 133, 66);
$leafColorAlpha: rgba(29, 133, 66, .8);
$orangeColor: rgb(236, 128, 10);
$orangeColorAlpha: rgba(236, 128, 10, .8);
$skyColor: rgb(106, 50, 177);
$skyColorAlpha: rgba(106, 50, 177, .8);