// Here's where we define some default constants
@import "partials/base";

// Then we'll import the compass extension
@import "h5bp";

// Now, you can simply include everything
// (except print and helpers) by uncommeting this line
@include h5bp-normalize;

// Or, you can import the "overrides" partial if
// you want more control over individual mixins
//@import "partials/overrides";


/* Jeet.gs */
@import 'jeet/index';


// Finally, put your own styles in these partials
// and add more as needed (i.e. forms, tables, nav)
@import "partials/fonts";
@import "partials/page";

// Helpers classes should come second-to-last
@include h5bp-helpers;

// Media should come last
@import "partials/media";


html, body {
	height: 100%;
} 


/* 元件 */

.site_name {
	@include center(75%);
	color: white;
	margin-top: 1em;
	font-size: 2em;
	text-align: center;
}


/* 主要版面切割 */

#container, #main, .layout {

	height: 100%;

}

.layout {
@include span(0.33333);
 background-size: 100% auto;
 background-repeat: no-repeat;
}


.for_student > div, .for_earlybird > div, .for_almost > div {

 margin: 0 auto;
 width: 90%;
 height: 5em;
}


.for_student {
background-image: url('../assets/slice-01.jpg') ;
	div {
		background: rgba(70, 70, 170, 0.7);
	}

}

.for_earlybird{
background-image: url('../assets/slice-02.jpg') ;
	div {
		background: rgba(70, 170, 70, 0.7);
	}

}

.for_almost {
background-image: url('../assets/slice-03.jpg') ;
	div {
		background: rgba(170, 70, 70, 0.7);
	}

}

footer {
	@include span(1);
	background: #f8ca00;
}
