// Here's where we define some default constants
@import "partials/base";

// Then we'll import the compass extension
@import "h5bp";

// Now, you can simply include everything
// (except print and helpers) by uncommeting this line
@include h5bp-normalize;

// Or, you can import the "overrides" partial if
// you want more control over individual mixins
//@import "partials/overrides";


/* Jeet.gs */
@import 'jeet/index';


/* Sprites */
@import 'workshop_sprite';

// Finally, put your own styles in these partials
// and add more as needed (i.e. forms, tables, nav)
@import "partials/fonts";
@import "partials/page";
@import "compass/css3";
@import "variables";

// Helpers classes should come second-to-last
@include h5bp-helpers;

// Media should come last
@import "partials/media";

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { display: table; content: " "; }
.clearfix:after { clear: both; }


html, body {
	height: 100%;
} 



body {

	font-size: 67.5%;
	font-family: Arial, 'Apple Lihei Pro', '微軟正黑體';

	color: white;
	background: #bd1550;
}


/* 排版 */

h2 {
	width: 100%;
	font-size: 1.4rem;
	line-height: 1.4rem;
	text-align: center;
	margin: 0.5em auto 0;
}


a {
	color: white;
	text-decoration: none;
}


/* 主要版面切割 */

.layout {
@include span(0.33333);
 min-width: 213.33333px;
 background-size: 100% auto;
 background-repeat: no-repeat;

}


.for_student > a, .for_earlybird > a, .for_almost > a {

 margin: 156% auto 1em;
 box-sizing: border-box;
 width: 95%;
 height: 6em;
 padding-top: 1px;
 text-align: center;
}

.ac_explain {
	@include center(60%);
	background: #bd1550;
	li {
		font-size: 1.2rem;
		list-style: square;

	}

}

.time_scale {
	@include span(1);

	background: white;

	span {
	@include use-sprite("time_scale");
	max-width: 100%;
	margin: 1em auto;

	}

	h3 {
		color: #333;
		width: 100%;
		margin-top: 1em;
		text-align: center;
	}
}

footer {

	@include span(1);
	background: #333;
}

/* 元件 */



.site_name {
	position: absolute;
	margin-top: 1em;
	width: 100%;
	color: white;
	text-align: center;
	font-size: 2em;
}

.for_student {
background-image: url('../assets/slice-01.jpg') ;
	a {
		display: block;
		background: rgba(73, 10, 61, 0.7);

		&:hover {
			background: rgba(73, 10, 61, 1);
			color: white;
		}

	}

}

.for_earlybird{
background-image: url('../assets/slice-02.jpg') ;
	a {
		display: block;
		background: rgba(233, 127, 2, 0.7);

		&:hover {
			background: rgba(233, 127, 2, 1);
			color: white;
		}
	}

}

.for_almost {
background-image: url('../assets/slice-03.jpg') ;
	a {
	/*	background: rgba(248, 202, 0, 0.7); */
		display: block;
		background: rgba(70, 70, 70, 0.7);
		color: #777;
	}

}

@import url(http://fonts.googleapis.com/css?family=Dosis:600);
.price_tag {
	font: 600 1.5em/1.8rem 'Dosis';
}

.time_tag {
	color: white; 
}

.sale_later {
	margin-right: 1em; 
} 

.required {
	@include center(60%);
	ul {
		display: block;
		margin: 0 auto;
	}

	li {
		@include span(0.5); 
		display: inline-block;
		float: left;
		text-align: center;

		h3 {
			margin-top: 10.5em;
		}
	}
	li:first-child {
		@include use-sprite("need_laptop");
	}
	li:last-child {
		@include use-sprite("prepared_thought");
	}

}

.resource {
	@include center(60%);
	ul li {
		@include span(0.33333);
		display: inline-block;
		float: left;
		text-align: center;
		h3 {
			margin-top: 7.5em;
		}
	}
	li:first-child {
		@include use-sprite("wifi");
	}

	li:nth-child(2) {
		@include use-sprite("plugs");
	}
	
	li:last-child {
		@include use-sprite("snacks");
	}

}
