@charset "UTF-8";

// Here's where we define some default constants
@import "partials/base";

// Then we'll import the compass extension
@import "h5bp";

// Now, you can simply include everything
// (except print and helpers) by uncommeting this line
@include h5bp-normalize;

// Or, you can import the "overrides" partial if
// you want more control over individual mixins
//@import "partials/overrides";

/* Jeet.gs */
@import "jeet/index";

/* Sprites */
@import "workshop_sprite";

// Finally, put your own styles in these partials
// and add more as needed (i.e. forms, tables, nav)
@import "partials/fonts";
@import "partials/page";
@import "compass/css3";
@import "variables";

// Helpers classes should come second-to-last
@include h5bp-helpers;

// Media should come last
@import "partials/media";

//public style
$cherryColor: rgb(189, 21, 80);
$cherryColorAlpha: rgba(189, 21, 80, .8);
$leafColor: rgb(29, 133, 66);
$leafColorAlpha: rgba(29, 133, 66, .8);
$orangeColor: rgb(236, 128, 10);
$orangeColorAlpha: rgba(236, 128, 10, .8);
$skyColor: rgb(106, 50, 177);
$skyColorAlpha: rgba(106, 50, 177, .8);


/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

body {
    font-size: 1.2rem;
    font-family: Arial, 'Apple Lihei Pro', '微軟正黑體';
    color: white;
    background: #bd1550;
}

h2 {
    width: 60%;
    font-size: 1.6rem;
    line-height: 1.8rem;
    text-align: center;
    margin: 0.5em auto 2em;
    font-size: 2.6rem;
}

ul, ol {
    margin: 0;
    padding: 0;
}

a {
    color: #DDD;
    text-decoration: none;
    transition: all ease .3s;
    &:hover {
        color: #FFF;
    }
}

p {
    padding: 0 5%;
    font-size: 1.8rem;
    letter-spacing: 3px;
    text-align: justify;
}

/* 主要版面切割 - 桌機版 */
@media only screen and (min-width: 768px) {

    #container {
        width: 100%;
        height: 100%;
    }

    .navi {
        @include span(1);
        position: fixed;
        margin: 0;
        background: $cherryColorAlpha;
        box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
        font-size: 1.8rem;
        z-index: 2;
        h3 {
            font-size: 2em;
        }
        ul {
            width: 60%;
            margin: 0 auto;
            li {
                @include span(0.25);
                display: inline-block;
                text-align: center;
                transition: all ease .3s;
                a {
                    display: block;
                    height: 100%;
                    padding: 20px 0;
                }
                &:hover {
                    background: $orangeColorAlpha;
                }
            }
        }
    }

    .main {
        @include span(1);
        width: 100%;
        height: 100%;
        padding-top: 30px;
        background: url(../assets/cover-bg.png) top center no-repeat;
        background-size: auto 120%;
        .continue-read {
            display: block;
            position: relative;
            top: 80%;
            width: 200px;
            height: 80px;
            margin: 0 auto;
            background: $cherryColorAlpha;
            text-align: center;
            font-size: 2.2rem;
            line-height: 80px;
        }
        .continue-read:after {
            content: '';
            display: block;
            width: 0;
            border-top: 50px solid $cherryColorAlpha;
            border-left: 100px solid transparent;
            border-right: 100px solid transparent;
        }
    }

    .time_scale {
        @include span(1);
        background: white;
        width: 100%;
        overflow: hidden;
        span {
            @include use-sprite("time_scale");
            display: block;
            width: 100%;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            margin: 1em auto;
        }
        h3 {
            color: #333;
            width: 100%;
            margin-top: 1em;
            font-size: 2rem;
            text-align: center;
        }
    }

    .ac_explain {
        @include span(1);
        margin: 20px auto 50px;
        background: #bd1550;
        > * {
            max-width: 700px;
        }
        p {
            width: 60%;
            margin: 20px auto;
        }
        ul {
            width: 60%;
            margin: 20px auto;
            padding-left: 40px;
            li {
                padding: 10px;
                font-size: 1.8rem;
                text-align: justify;
                letter-spacing: 3px;
                list-style: square;
            }
        }
    }

    .required {
        @include span(1);
        > * {
            max-width: 1200px;
        }
        ul {
            width: 100%;
            margin: auto;
            padding: 0;
            text-align: center;
        }
        li {
            position: relative;
            display: inline-block;
            overflow: none;
            @include span(0.5);
            height: 280px;
        }
        h3 {
            top: 140px;
            width: 100%;
            margin: 0;
            text-align: center;
            font-size: 2rem;
        }
        p {
            top: 180px;
            width: 80%;
            margin: 0 10%;
            padding: 0;
            font-size: 1.6rem;
            text-align: center;
        }
        p, h3 {
            position: absolute;
        }
        .icon {
            margin: 0 auto;
        }
        li:first-child .icon {
            @include use-sprite("need_laptop");
        }
        li:last-child .icon {
            @include use-sprite("prepared_thought");
        }
    }

    .resource {
        @include span(1);
        > * {
            max-width: 1200px;
        }
        ul {
            margin: 0 auto;
            padding: 0;
            text-align: center;
        }
        li {
            position: relative;
            display: inline-block;
            overflow: none;
            width: 25%;
            height: 180px;
        }
        h3 {
            position: absolute;
            top: 100px;
            width: 100%;
            margin: 0;
            font-size: 1.8rem;
            text-align: center;
        }
        .icon {
            margin: 0 auto;
        }
        li:first-child .icon {
            @include use-sprite("wifi");
        }
        li:nth-child(2) .icon {
            @include use-sprite("plugs");
        }
        li:last-child .icon {
            @include use-sprite("snacks");
        }
    }

    .ticket-list {
        @include span(1);
        background: #333;
        > div {
            @include span(0.333333);
            display: inline-block;
            margin-top: 10px;
        }
        h2 {
            margin: 20px auto;
        }
    }

    .for_student > a, .for_earlybird > a, .for_almost > a {
        margin: 1% auto 1em;
        box-sizing: border-box;
        width: 95%;
        height: 100px;
        padding-top: 1px;
        text-align: center;
    }

    footer {
        @include span(1);
        margin: 0;
        padding-top: 30px;
        background: #333;
        color: #CCC;
        > * {
            min-width: 400px;
            max-width: 800px;
        }
        a {
            display: block;
            opacity: .8;
            filter: alpha(opacity=80);
            transition: all ease .3s;
            &:hover {
                opacity: 1;
                filter: alpha(opacity=100);
            }
        }
        .about-curator {
            margin: 0 auto;
            text-align: center;
            h3 {
                position: absolute;
                display: block;
                margin: 0;
                padding-left: 20px;
                height: 100px;
                line-height: 100px;
                font-size: 2rem;
            }
            ul {
                display: inline;
                list-style: none;
            }
            li {
                display: inline-block;
                padding: 0 0 0 50px;
            }
            .f2e_ty_logo {
                @include use-sprite("f2e_ty_logo");
            }

            .cycu_logo {
                @include use-sprite("cycu_logo");
                margin-bottom: 25px;
            }
        }
        .about-photo {
            margin: 30px auto;
            text-align: center;
            h3 {
                position: absolute;
                display: block;
                margin: 0;
                padding-left: 20px;
                height: 100px;
                line-height: 100px;
                font-size: 2rem;
            }
            p {
                margin: 0;
                margin-left: 360px;
            }
            a {
                display: inline;
            }
            .food_mob {
                @include use-sprite("food_mob");
                float: left;
                overflow: hidden;
                margin-left: 225px;
            }
        }
        .copyright {
            @include span(1);
            max-width: 100%;
            margin-top: 30px;
            padding: 10px 0;
            background: #222;
            color: #ccc;
            text-align: center;
            p {
                font-size: 1.4rem;
                letter-spacing: 1px;
                text-align: center;
            }
            a {
                display: inline;
            }
            small {
                display: block;
                width: 85%;
                min-width: 600px;
                max-width: 1200px;
                margin: 0 auto;
                text-align: left;
            }
        }
    }

    /* 元件 */

    hr {
        margin-top: 1em;
        border: 1px solid #fff;
    }

    .site_name {
        position: absolute;
        margin-top: 1em;
        width: 100%;
        color: white;
        text-align: center;
        font-size: 2rem;
    }

    .for_student {
        //background-image: url("../assets/slice-01.jpg");
        a {
            display: block;
            background: $leafColorAlpha;
            &:hover {
                background: $leafColor;
                color: white;
            }
        }
    }

    .for_earlybird {
        //background-image: url("../assets/slice-02.jpg");
        a {
            display: block;
            background: $orangeColorAlpha;
            &:hover {
                background: $orangeColor;
                color: white;
            }
        }
    }

    .for_almost {
        //background-image: url("../assets/slice-03.jpg");
        a {
            /*	background: rgba(248, 202, 0, 0.7); */
            display: block;
            background: $skyColorAlpha;
            &:hover {
                background: $skyColor;
                color: white;
            }
        }
    }

    @import url(http://fonts.googleapis.com/css?family=Dosis:600);

    .price_tag {
        font: 600 1.5em/1.8rem 'Dosis', sans-serif;
    }

    .time_tag {
        color: white;
    }

    .sale_later {
        margin-right: 1em;
    }

    .fb_button {
        position: relative;
        vertical-align: top;
        width: 100%;
        height: 3em;
        padding: 0;
        font-size: 1.4rem;
        color: rgba(20, 20, 20, 1);
        text-align: center;
        background: #fff;
        border: 0;
        border-bottom: 2px solid #eee;
        cursor: pointer;
        -webkit-box-shadow: inset 0 -2px #ddd;
        box-shadow: inset 0 -2px #ddd;
    }

    .fb_button:active {
        top: 1px;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .fb_success {

    	width: 100%;
    	font-size: 1.6rem;

    }

    /* 特效 */

    .add_opacity {
        color: rgba (255, 255, 255, 0.6);
    }

    /* Adaptive Modal Content */
    @import "adaptive_modal_content";
}